#login-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $base-font;

  //box-shadow: 0px 1px 5px 3px rgb(0 0 0 / 35%);
  padding: 10px;
  border: thin solid rgb(0 0 0 / 35%);
  border-radius: 10px;

  width: 500px;
  height: 600px;

  #login-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #login-logo {
      height: 65px;
      width: 65px;
      margin-bottom: 25px;
      margin-top: 20px; //padding from entire panel is 5px so 5 + 5 = 10px
    }

    #sign-in-label {
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 32px;
    }

    #auth-form {
      display:flex;
      flex-direction: column;

      input {
        font-family: $base-font;
        width: 300px;
      }

      input::placeholder {
        color: rgb(0 0 0 / 50%);
        opacity: 1; /* Firefox */
      }

      #email-field {
        margin-bottom: 12px;
      }

      #password-field {
        margin-bottom: 25px;
      }

      button {
        font-family: $base-font;
      }

    }

  }

}